html, body {
  height: 100%;
}
body {

  max-width: 700px;
  margin: 0 auto;
  padding: 10px;

  line-height: 1.5;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

  color: #111;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

p, pre, table, ul, ol {
  margin: 1em 0;
}

ul ol,
ul ul,
ol ul,
ol ol {
  margin: 0 0 0;
}

ul li,
ol li {
  margin-bottom: .5em;
}

li > a + ul,
li > a + ol {
  margin-top: .5em;
}

pre,
code {
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', 'Ubuntu Mono', Courier, monospace;
  font-size: 14px;
  line-height: inherit;
  color: #111;
}

pre {
  position: relative;
  overflow: auto;
  padding: 1em;
}

.hljs {
  background: #fff;
  padding: 0;
  overflow: visible;
}

p code {
  display: inline-block;
  background: #eee;
  padding: 0 2px;
  line-height: 1.3;
}

pre:before {
  display: block;
  content: attr(caption);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

pre:before,
table caption {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}
table {
  border-spacing: 0;
  border-collapse: separate;
}
table caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
table th,
table td {
  padding: 4px;
}
table th {
  padding: 6px 4px 4px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  font-weight: 400;
}

body > table {
  position: relative;
  width: 100%;
  padding: 2em;
}

a {
  color: #706ec3;
}
a:visited {
  color: #80808e;
}
a:hover {
  color: #8583d4;
}

p {
  text-align: justify;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 1.5em 0 .5em 0;
}

h2 {
  padding-bottom: .25em;
  border-bottom: 1px solid #ddd;
}

.author {
  font-style: normal;
}

#header-image {
  margin: 3em 0;
}

footer {
  padding: 1em;
  text-align: center;
  color: #888;
  font-size: 13px;
}
